### 1. How to import Pandas

In [1]:
import pandas as pd

#### Why do you need to import numpy as well?

In general to use of mathematical operations, handle arrays, and control numerical behavior you need numpy along with pandas.
Pandas internally uses NumPy arrays for storing and manipulating data.
Operations on DataFrame and Series objects often rely on NumPyâ€™s array operation.

In [9]:
import numpy as np

### 2. Creating a Series from a list

In [11]:
list_numbers = [10, 20, 30, 40]
pd_series = pd.Series(list_numbers)
print(pd_series)

0    10
1    20
2    30
3    40
dtype: int64

#### What can we see as output of the series?

We can see that data printed in columnwise with index is assigned automatically (0, 1, 2, 3, ....).

#### How do we access a single component of the series?
#### Access the index

In [21]:
print(pd_series.index[0])

0

#### Access the value

In [22]:
print(pd_series[0])

10

#### Access the data type

In [26]:
print(type(pd_series))
print(pd_series.dtype)

<class 'pandas.core.series.Series'>
int64

### 3. Create a Series with an index

In [57]:
list = [15, 20, 25, 30, 35, 40]
custom_index = ['a', 'b', 'c', 'd', 'e', 'f']
pd_series_with_index = pd.Series(list, index=custom_index)
print(pd_series_with_index)

a    15
b    20
c    25
d    30
e    35
f    40
dtype: int64

#### Check the index of the created Series

In [58]:
print(pd_series_with_index.index)
for i in range(len(pd_series_with_index.index)):
    print(pd_series_with_index.index[i])

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')
a
b
c
d
e
f

### 4. How do you access a value using the index name?

In [103]:
# Method 1
print("Method 1")
for item in custom_index:
    print(pd_series_with_index[item])
# Method2
print("Method 2")
for item in pd_series_with_index.index:
    print(pd_series_with_index[item])

Method 1
15
20
25
30
35
40
Method 2
15
20
25
30
35
40

### 5. Access a value using a positional index

In [80]:
for i in range(len(pd_series_with_index)):
    print(pd_series_with_index.iloc[i])

15
20
25
30
35
40

### 6. Filter for data based on conditions

In [86]:
# Filter: values less than 25
filtered_lessthan25 = pd_series_with_index[pd_series_with_index < 25]
print(filtered_lessthan25)
filtered_greaterthan25 = pd_series_with_index[pd_series_with_index > 25]
print(filtered_greaterthan25)
filtered_notequal25 = pd_series_with_index[pd_series_with_index != 25]
print(filtered_notequal25)

a    15
b    20
dtype: int64
d    30
e    35
f    40
dtype: int64
a    15
b    20
d    30
e    35
f    40
dtype: int64

### 7. Check names in an index

In [98]:
for item in pd_series_with_index.index:
    print(item)
print('x' in pd_series_with_index.index)
print('a' in pd_series_with_index.index)

a
b
c
d
e
f
False
True

### 8. Convert a Series to a Dictionary

In [108]:
data_dict = dict(pd_series_with_index)
print(data_dict)
print(type(data_dict))

{'a': 15, 'b': 20, 'c': 25, 'd': 30, 'e': 35, 'f': 40}
<class 'dict'>

#### Convert a Dictionary to a Series

In [110]:
pd_series_from_dict = pd.Series(data_dict)
print(pd_series_from_dict)
print(type(pd_series_from_dict))

a    15
b    20
c    25
d    30
e    35
f    40
dtype: int64
<class 'pandas.core.series.Series'>

### 9. Create a new Series from an existing series

In [117]:
# Copying the series
copy_pd_series = pd_series_with_index.copy()
print(copy_pd_series)

# Filtering values greater than 25
filtered_pd_series = pd_series_with_index[pd_series_with_index > 25]
print(filtered_pd_series)

# Arithmetic transformation
squared_pd_series = pd_series_with_index ** 2
print(squared_pd_series)

a    15
b    20
c    25
d    30
e    35
f    40
dtype: int64
d    30
e    35
f    40
dtype: int64
a     225
b     400
c     625
d     900
e    1225
f    1600
dtype: int64

#### What values are given to the index added, if none are provided?

if we didn't provide an index explicitly, the index will be inherited the default integer index from the original Series. Otherwise it will automatically generate the index from 0.

### 10. How do you check for NaN values?

In [120]:
pd_series = pd.Series([1, 2, np.nan, 4, np.nan])
print(pd_series.isna())

0    False
1    False
2     True
3    False
4     True
dtype: bool

### 11. How is NaN different to None?

 NAN represent Not A Number, a special floating-point value representing missing/undefined numerical (data type : float )and None represents no value or null (data type : NoneType)

### 12. How do you check for Nulls?

In [126]:
pd_series_with_null_nan = pd.Series([1, None, 3, np.nan, 5])
print(pd_series_with_null_nan.isnull())
print(pd_series_with_null_nan.isnull())

0    False
1     True
2    False
3     True
4    False
dtype: bool
0    False
1     True
2    False
3     True
4    False
dtype: bool

### 13. How do you name an index?

In [127]:
pd_series = pd.Series([1, 2, 3], index=['x', 'y', 'z'])
pd_series.index.name = 'letters'
print(pd_series)

letters
x    1
y    2
z    3
dtype: int64

### 14. How do you name a Series?

In [128]:
pd_series.name = 'series123'
print(pd_series)

letters
x    1
y    2
z    3
Name: series123, dtype: int64